fastapi==0.115.11
langchain_ollama==0.2.3
uvicorn==0.34.0

langchain~=0.3.19
python-dotenv~=1.0.1
starlette~=0.45.3
websocket-client~=1.8.0
aiofiles~=24.1.0
pydantic~=2.10.6
openai~=1.63.2
SQLAlchemy~=2.0.38
requests~=2.32.3
beautifulsoup4~=4.13.3
tenacity~=9.0.0
pydantic_core~=2.27.2
tiktoken~=0.9.0
loguru~=0.7.3
baidusearch~=1.0.3
duckduckgo_search~=7.5.3
translate~=3.6.1
docker~=7.1.0